.listChanges {
  list-style-type: none;
  padding: 1% 4% 1% 4%;
}
.navChanges {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: #f4d03f;

  width: 100% !important;
  position: static;

  margin-top: 0;
  height: 100%;
  margin-left: 0;
  margin-right: 0%;
}
.linkChanges {
  text-decoration: none;
}
.googleFont {
  font-family: "Indie Flower", cursive;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
}
